In [ ]:
pip install prophet

Requirement already satisfied: prophet in /usr/local/lib/python3.10/dist-packages (1.1.4)
Requirement already satisfied: cmdstanpy>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from prophet) (1.1.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.10/dist-packages (from prophet) (1.22.4)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from prophet) (3.7.1)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from prophet) (1.5.3)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.10/dist-packages (from prophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.10/dist-packages (from prophet) (2.4.0)
Requirement already satisfied: holidays>=0.25 in /usr/local/lib/python3.10/dist-packages (from prophet) (0.27.1)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.10/dist-packages (from prophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.10/dist-packages (from prophet) (4.65.0)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.10/dist-packages (from prophet) (5.12.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.10/dist-packages (from convertdate>=2.1.2->prophet) (0.5.12)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.10/dist-packages (from LunarCalendar>=0.0.9->prophet) (4.1.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from LunarCalendar>=0.0.9->prophet) (2022.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0.0->prophet) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0.0->prophet) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0.0->prophet) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0.0->prophet) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0.0->prophet) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.0->prophet) (1.16.0)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from google.colab import drive
from statsmodels.tsa.arima.model import ARIMA
warnings.filterwarnings("ignore")
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
sensor_data_path = '/content/drive/MyDrive/city_day.csv'
# Load the dataset
df = pd.read_csv(sensor_data_path)

In [ ]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [ ]:
pmean=df["PM2.5"].mean()
df["PM2.5"].fillna(pmean,inplace=True)
pmmean=df["PM10"].mean()
df["PM10"].fillna(pmmean,inplace=True)
nmean=df["NO"].mean()
df["NO"].fillna(nmean,inplace=True)
nomean=df["NO2"].mean()
df["NO2"].fillna(nomean,inplace=True)
noxmean=df["NOx"].mean()
df["NOx"].fillna(noxmean,inplace=True)
nhmean=df["NH3"].mean()
df["NH3"].fillna(nhmean,inplace=True)
cmean=df["CO"].mean()
df["CO"].fillna(cmean,inplace=True)
smean=df["SO2"].mean()
df["SO2"].fillna(smean,inplace=True)
omean=df["O3"].mean()
df["O3"].fillna(omean, inplace=True)
bmean=df["Benzene"].mean()
df["Benzene"].fillna(bmean,inplace=True)
tmean=df["Toluene"].mean()
df["Toluene"].fillna(tmean,inplace=True)
xmean=df["Xylene"].mean()
df["Xylene"].fillna(xmean,inplace=True)
amean=df["AQI"].mean()
df["AQI"].fillna(amean,inplace=True)
df=df.drop('AQI_Bucket',axis=1)
df.isna().sum()

City       0
Date       0
PM2.5      0
PM10       0
NO         0
NO2        0
NOx        0
NH3        0
CO         0
SO2        0
O3         0
Benzene    0
Toluene    0
Xylene     0
AQI        0
dtype: int64

In [ ]:
from prophet import Prophet

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df = df[['Date', 'PM2.5']]
df = df.rename(columns={'Date': 'ds', 'PM2.5': 'y'})

In [ ]:
model = Prophet()
model.fit(df)

INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
DEBUG:cmdstanpy:input tempfile: /tmp/tmpr_cznhja/t_k1hwlt.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmpr_cznhja/j4tb8i_r.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.10/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=82089', 'data', 'file=/tmp/tmpr_cznhja/t_k1hwlt.json', 'init=/tmp/tmpr_cznhja/j4tb8i_r.json', 'output', 'file=/tmp/tmpr_cznhja/prophet_model5mjek16b/prophet_model-20230702063647.csv', 'method=optimize', 'algorithm=lbfgs', 'iter=10000']
06:36:47 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
06:37:04 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

In [ ]:
future = model.make_future_dataframe(periods=30,freq='D', include_history=False )  # Dự báo cho 30 ngày tiếp theo
forecast = model.predict(future)
forecast.rename(columns={'yhat': 'pm25'}, inplace=True)
forecast_30days = forecast[['ds', 'pm25']]
forecast_30days

           ds       pm25
0  2020-07-02  15.870192
1  2020-07-03  14.953989
2  2020-07-04  13.794113
3  2020-07-05  13.331202
4  2020-07-06  13.080026
5  2020-07-07  13.780749
6  2020-07-08  13.941713
7  2020-07-09  13.095039
8  2020-07-10  12.378360
9  2020-07-11  11.394183
10 2020-07-12  11.080149
11 2020-07-13  10.949087
12 2020-07-14  11.740306
13 2020-07-15  11.962381
14 2020-07-16  11.148706
15 2020-07-17  10.439171
16 2020-07-18   9.439422
17 2020-07-19   9.090995
18 2020-07-20   8.911238
19 2020-07-21   9.644434
20 2020-07-22   9.804422
21 2020-07-23   8.929973
22 2020-07-24   8.166290
23 2020-07-25   7.124093
24 2020-07-26   6.749602
25 2020-07-27   6.564296
26 2020-07-28   7.315923
27 2020-07-29   7.521009
28 2020-07-30   6.720153
29 2020-07-31   6.059480

In [ ]:
from prophet import Prophet
import joblib

# model.save_model("prophet_model.h5")

# Lưu mô hình
joblib.dump(model, "prophet_model.joblib")

['prophet_model.joblib']

In [ ]:
loaded_model = joblib.load("prophet_model.joblib")

In [ ]:
futureload = loaded_model.make_future_dataframe(periods=30, freq='D', include_history=False)  # Dự báo cho 30 ngày tiếp theo
forecast2 = loaded_model.predict(futureload)
forecast2.rename(columns={'yhat': 'pm25'}, inplace=True)
forecast_30days = forecast2[['ds', 'pm25']]
forecast_30days

           ds       pm25
0  2020-07-02  15.870192
1  2020-07-03  14.953989
2  2020-07-04  13.794113
3  2020-07-05  13.331202
4  2020-07-06  13.080026
5  2020-07-07  13.780749
6  2020-07-08  13.941713
7  2020-07-09  13.095039
8  2020-07-10  12.378360
9  2020-07-11  11.394183
10 2020-07-12  11.080149
11 2020-07-13  10.949087
12 2020-07-14  11.740306
13 2020-07-15  11.962381
14 2020-07-16  11.148706
15 2020-07-17  10.439171
16 2020-07-18   9.439422
17 2020-07-19   9.090995
18 2020-07-20   8.911238
19 2020-07-21   9.644434
20 2020-07-22   9.804422
21 2020-07-23   8.929973
22 2020-07-24   8.166290
23 2020-07-25   7.124093
24 2020-07-26   6.749602
25 2020-07-27   6.564296
26 2020-07-28   7.315923
27 2020-07-29   7.521009
28 2020-07-30   6.720153
29 2020-07-31   6.059480

In [ ]:
forecast_30days['pm25'].to_csv('/content/drive/MyDrive/predicted_prophetpm2_5.csv', index=False)

In [ ]:
!pip install firebase-admin

Requirement already satisfied: firebase-admin in /usr/local/lib/python3.10/dist-packages (5.3.0)
Requirement already satisfied: cachecontrol>=0.12.6 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (0.13.1)
Requirement already satisfied: google-api-python-client>=1.7.8 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.84.0)
Requirement already satisfied: google-cloud-storage>=1.37.1 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.8.0)
Requirement already satisfied: google-api-core[grpc]<3.0.0dev,>=1.22.1 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.11.1)
Requirement already satisfied: google-cloud-firestore>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from firebase-admin) (2.11.1)
Requirement already satisfied: requests>=2.16.0 in /usr/local/lib/python3.10/dist-packages (from cachecontrol>=0.12.6->firebase-admin) (2.27.1)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from cachecontrol>=0.12.6->firebase-admin) (1.0.5)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (1.59.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (3.20.3)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (2.17.3)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (1.56.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (1.48.2)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.21.0)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.1.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.7.8->firebase-admin) (4.1.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from google-cloud-firestore>=2.1.0->firebase-admin) (2.3.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-firestore>=2.1.0->firebase-admin) (1.22.3)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage>=1.37.1->firebase-admin) (2.5.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage>=1.37.1->firebase-admin) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.10/dist-packages (from httplib2<1dev,>=0.15.0->google-api-python-client>=1.7.8->firebase-admin) (3.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.16.0->cachecontrol>=0.12.6->firebase-admin) (3.4)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]<3.0.0dev,>=1.22.1->firebase-admin) (0.5.0)

In [ ]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db
json_path = './content/drive/MyDrive/projectnt114-firebase-adminsdk-3z33d-6d4b587f61'
cred = credentials.Certificate('/content/sample_data/serviceAccountkey.json')

firebase_admin.initialize_app(cred, {
    'databaseURL': 'https://projectnt114-default-rtdb.firebaseio.com'
})

In [ ]:
import json
import pandas as pd
pf = pd.read_csv('/content/drive/MyDrive/predicted_prophetpm2_5.csv')
json_data = pf.to_dict(orient='records')

ref = db.reference('/Prophet')

for row in json_data:
    for key, value in row.items():
        column_ref = ref.child(key.replace(".", "_")).push()
        column_ref.set(value)